# <center>Đồ án 3: Linear Regression</center>

# Thông tin sinh viên

- Họ và tên: Lê Đức Đạt
- MSSV: 20127674
- Lớp: 20CLC08

# Import

In [1]:
import numpy as np
import pandas as pd
# Import thêm dữ thư viện nếu cần

# Đọc dữ liệu

In [2]:
# Đọc dữ liệu bằng pandas
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Lấy các đặc trưng X và giá trị mục tiêu y cho các tập huấn luyện (train) và kiểm tra (test)
X_train = train.iloc[:, :-1]    # Dataframe (chứa 10 đặc trưng huấn luyện)
y_train = train.iloc[:, -1]     # Series    (chứa 1 giá trị mục tiêu kiểm tra)

X_test = test.iloc[:, :-1]      # Dataframe (chứa 10 đặc trưng kiểm tra)
y_test = test.iloc[:, -1]       # Series    (chứa 1 giá trị mục tiêu kiểm tra)

# Sinh viên có thể sử dụng các khác nếu cần

# Cài đặt hàm

In [3]:
train

,Adult Mortality,BMI,Polio,Diphtheria,HIV/AIDS,GDP,Thinness age 10-19,Thinness age 5-9,Income composition of resources,Schooling,Life expectancy
0,268.0,18.1,62.0,64.0,0.1,631.744976,17.7,17.7,0.470,9.9,59.9
1,272.0,17.6,67.0,67.0,0.1,669.959000,17.9,18.0,0.463,9.8,59.5
2,275.0,17.2,68.0,68.0,0.1,63.537231,18.2,18.2,0.454,9.5,59.2
3,279.0,16.7,66.0,66.0,0.1,553.328940,18.4,18.4,0.448,9.2,58.8
4,281.0,16.2,63.0,63.0,0.1,445.893298,18.6,18.7,0.434,8.9,58.6
...,...,...,...,...,...,...,...,...,...,...,...
1080,723.0,27.1,67.0,65.0,33.6,454.366654,9.4,9.4,0.407,9.2,44.3
1081,715.0,26.7,7.0,68.0,36.7,453.351155,9.8,9.9,0.418,9.5,44.5
1082,73.0,26.3,73.0,71.0,39.8,57.348340,1.2,1.3,0.427,10.0,44.8
1083,686.0,25.9,76.0,75.0,42.1,548.587312,1.6,1.7,0.427,9.8,45.3
1084,665.0,25.5,78.0,78.0,43.5,547.358878,11.0,11.2,0.434,9.8,46.0

In [4]:
train.describe()

,Adult Mortality,BMI,Polio,Diphtheria,HIV/AIDS,GDP,Thinness age 10-19,Thinness age 5-9,Income composition of resources,Schooling,Life expectancy
count,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000,1085.000000
mean,169.404608,37.492535,82.122581,83.494931,1.765806,5182.741613,4.822581,4.874931,0.627068,11.962857,68.964700
std,123.993845,19.587936,23.775524,21.706896,4.869510,10318.169038,4.659256,4.694674,0.178419,3.006864,9.041711
min,1.000000,2.100000,3.000000,4.000000,0.100000,1.681350,0.300000,0.200000,0.000000,4.200000,44.000000
25%,81.000000,18.200000,77.000000,79.000000,0.100000,418.698576,1.700000,1.800000,0.491000,10.000000,63.300000
50%,148.000000,44.900000,92.000000,92.000000,0.100000,1311.741714,2.800000,2.900000,0.666000,12.000000,71.700000
75%,237.000000,55.300000,97.000000,96.000000,0.900000,4474.571700,7.100000,7.200000,0.745000,14.000000,75.000000
max,723.000000,65.800000,99.000000,99.000000,43.500000,67792.338600,27.200000,28.200000,0.933000,20.700000,89.000000

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Adult Mortality                  1085 non-null   float64
 1   BMI                              1085 non-null   float64
 2   Polio                            1085 non-null   float64
 3   Diphtheria                       1085 non-null   float64
 4   HIV/AIDS                         1085 non-null   float64
 5   GDP                              1085 non-null   float64
 6   Thinness age 10-19               1085 non-null   float64
 7   Thinness age 5-9                 1085 non-null   float64
 8   Income composition of resources  1085 non-null   float64
 9   Schooling                        1085 non-null   float64
 10  Life expectancy                  1085 non-null   float64
dtypes: float64(11)
memory usage: 93.4 KB

In [6]:
articles = list(train.columns.values)
data = np.array(train)

# Yêu cầu 1a: Sử dụng toàn bộ 10 đặc trưng đề bài cung cấp (2 điểm)

In [7]:
def exponential(data):
    A = data[:,:-1]
    b = data[:,-1:].reshape(len(data),)
    return np.linalg.pinv(A) @ b

In [8]:
# Gọi hàm hồi quy tuyến tính:
def linearRegression(data, articles):
    xPow = exponential(data)        
    xPowData = []
    
    for i in range(len(xPow)):
        row = []
        row.append('x'+ str(i + 1))
        row.append(articles[i])
        row.append(xPow[i])
        xPowData.append(row)
    
    return pd.DataFrame(xPowData, columns=['x', 'Các tính chất', 'Giá trị tương ứng'])

In [9]:
linearRegression(data, articles)

     x                    Các tính chất  Giá trị tương ứng
0   x1                  Adult Mortality           0.015101
1   x2                              BMI           0.090220
2   x3                            Polio           0.042922
3   x4                       Diphtheria           0.139289
4   x5                         HIV/AIDS          -0.567333
5   x6                              GDP          -0.000101
6   x7               Thinness age 10-19           0.740713
7   x8                 Thinness age 5-9           0.190936
8   x9  Income composition of resources          24.505974
9  x10                        Schooling           2.393517

# Yêu cầu 1b: Xây dựng mô hình sử dụng duy nhất 1 đặc trưng, tìm mô hình cho kết quả tốt nhất (2 điểm)

Lưu ý: khi sử dụng cross-validation, sinh viên cần xáo trộn dữ liệu 1 lần duy nhất và thực hiện trên toàn bộ đặc trưng

In [10]:
def surplusX(train, test):
    xPow = exponential(train)
    sumSurplus = 0
    
    for i in range(len(test)):
        constX = 0
        for j in range(len(xPow)):
            constX += xPow[j] * test[i][j]
        sumSurplus += np.abs(constX - test[i][-1])
        
    return sumSurplus / len(test)

In [11]:
def averageSurplusX(data, num):
    n = int(np.round(len(data) / num))
    models = [data[i*n:i*n+n, :] for i in range(num-1)]
    models.append(data[(num-1)*n:, :])

    surplusNum = []
    for i in range(num):
        
        train = np.concatenate(models[:-1], axis=0)
        test = models[-1]
        surplusNum.append(surplusX(train, test))
        
        temp = models[-1]
        models[-1] = models[i]
        models[i] = temp
    
    return np.average(surplusNum), surplusNum

In [12]:
def surplusAverageAttribute(data, num):
    surplusNumAverage = []
    surplusNum = []
    
    for i in range(len(data[0]) - 1):
        dataAttribute = np.concatenate((data[:, i:i+1], data[:, -1:]), axis=1)
        surplusAvgAttribute, surplusAttribute = averageSurplusX(dataAttribute, num)
        surplusNumAverage.append(surplusAvgAttribute)
        surplusNum.append(surplusAttribute)
    
    return surplusNumAverage, surplusNum

In [13]:
def rankTable(data, articles):
    surplusNumAverage, surplusNums = surplusAverageAttribute(data, 4)
    indices = np.argsort(surplusNumAverage)
    
    rankIn4 = []
    for i in range(len(indices)):
        row = []
        row.append(articles[indices[i]])
        row.append(surplusNums[indices[i]][0])
        row.append(surplusNums[indices[i]][1])
        row.append(surplusNums[indices[i]][2])
        row.append(surplusNums[indices[i]][3])
        row.append(surplusNumAverage[indices[i]])
        row.append(i + 1)
        rankIn4.append(row)
        
    return pd.DataFrame(rankIn4, columns=["Các tính chất", "Sai số 1", "Sai số 2", "Sai số 3", "Sai số 4", "Sai số trung bình", "Rank"])

In [14]:
def bestDataTable(data, articles):
    surplusNumAverage, _ = surplusAverageAttribute(data, 4)
    bestRank = np.argsort(surplusNumAverage)[0]
    
    newIn4 = np.concatenate((data[:, bestRank:bestRank+1], data[:,-1:]), axis=1)
    newArticle = articles[bestRank:bestRank+1] + articles[-1:]
    
    return newIn4, newArticle

In [15]:
rankTable(data, articles)

,Các tính chất,Sai số 1,Sai số 2,Sai số 3,Sai số 4,Sai số trung bình,Rank
0,Income composition of resources,8.621934,9.004420,7.791497,10.651009,9.017215,1
1,Schooling,7.950007,10.220004,8.550248,11.468748,9.547251,2
2,Diphtheria,9.548679,9.617267,10.217174,9.397534,9.695164,3
3,Polio,9.122239,10.850506,11.885671,10.779121,10.659384,4
4,BMI,20.657908,21.106088,19.294803,23.196867,21.063916,5
5,Adult Mortality,40.288426,43.730484,42.586144,35.976985,40.645510,6
6,Thinness age 5-9,38.970765,49.016939,55.141616,38.485292,45.403653,7
7,Thinness age 10-19,40.045328,49.742231,54.297764,39.698210,45.945883,8
8,GDP,58.103451,59.996213,57.579455,60.270391,58.987377,9
9,HIV/AIDS,66.053463,67.394397,69.816191,61.046109,66.077540,10

In [16]:
# Kết quả của câu b.
newIn4, newArticle = bestDataTable(data, articles)
linearRegression(newIn4, newArticle)

    x                    Các tính chất  Giá trị tương ứng
0  x1  Income composition of resources          104.70548

# Yêu cầu 1c: Sinh viên tự xây dựng mô hình, tìm mô hình cho kết quả tốt nhất (3 điểm)

Lưu ý: khi sử dụng cross-validation, sinh viên cần xáo trộn dữ liệu 1 lần duy nhất và thực hiện trên toàn bộ $m$ mô hình mà sinh viên thiết kế

In [17]:
# Phần code cho yêu cầu 1c
# Tìm ra mô hình tốt nhất (tự thiết kế bởi sinh viên)
# In ra các kết quả cross-validation như yêu cầu

In [18]:
# Huấn luyện lại mô hình my_best_model trên toàn bộ tập huấn luyện

In [19]:
# Gọi hàm RMSE (tự cài đặt hoặc từ thư viện) trên tập kiểm tra với mô hình my_best_model